numpy
torch
torchvision
opencv-python
opencv-contrib-python
scipy
matplotlib
imageio
tqdm
tensorboardX
tensorboard
protobuf==4.25
crc32c
tqdm
pyyaml
albumentations
imageio
jupyter
scikit-learn
torchgeometry
torchsummary
loguru
black
fvcore
